*{
    margin : 0 ;
    padding: 0;
    box-sizing: border-box;
}
header {
    display:inline-block;
    width: 100%;
    font-size:4em;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
    height: 200px;
    text-align: center;
    color :#010B5B;
   
}
body { background-color: #E7FBFB; }
.logo{
    padding-left: 20px;
    padding-top: 30px;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
header a {
    text-decoration: none;

}
.menu{
    display: inline-block;
    padding-top: 20px;
    width: 1000px;
    vertical-align: center;
    text-align: right;
}
.menu a {
    padding-right: 20px;
}
